body {
    font-family: 'DM Sans', sans-serif;
}
h1{
    font-size: 70px;
}
.name-color{
    color: orange;
}
.half-side{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-side img{
    width: 100%;
    border-radius: 50%;
}