body {
    font-family: 'DM Sans', sans-serif;
}
h1 {
    font-size: 50px;
    color: aquamarine;
}
.name-ayan{
    color: rgb(22, 178, 240);
    font-size: 100px;
}
.name-maya{
    color: chartreuse;
    font-size: 120px;
}
h3{
    font-size: 30px;
    color: #21cc63;
}